body{
    background-color: rgba(30, 30, 30, 1);
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 0.15rem solid rgba(163, 197, 238, 1);
    background-color: rgba(238, 163, 188, 1) ;
    box-shadow: 0px 0px 14px 0px rgba(238, 163, 188, 1);
    border-radius: 0 0 1em 1em;
}
#logo{
    background-color: rgba(30, 30, 30, 1);
    border: 1em solid rgba(30, 30, 30, 1);
    border-radius: 1.8rem;
    box-shadow: 0px 0px 14px 0px rgba(30, 30, 30, 1);
    width: 12em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
#content{
    background-color: rgba(30, 30, 30, 1) ;
    margin-top: 5em;
    margin-bottom: 10em;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 1em 1em 0 0 ;
    border-top: 0.15rem solid rgba(163, 197, 238, 1);
    box-shadow: 0px 0px 14px 0px rgba(238, 163, 188, 1);
    background: rgba(238, 163, 188, 1);
    display: flex;
    justify-content: center
}

#footer #content-footer{
    background: rgba(238, 163, 188, 1);
    width: 980px; 
}

#footer #content-footer ul{
    margin-left: 2em ;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#footer #content-footer ul li{
    list-style: none;
}

#footer #content-footer ul li {
    display: block;
    box-shadow: 0px 0px 14px 0px rgba(30, 30, 30, 1);
    border: transparent;
    border-radius: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    background: rgba(30, 30, 30, 1);
    padding: 7px 20px;
    height: 1.7rem;
    width: 6rem;
}
#footer #content-footer a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: rgba(238, 163, 188, 1);

}